.ProfileContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.ProfileItem {
    display: flex;
    justify-content: space-between;
    font-size: large;
    align-content: center;
    flex-direction: column;
    /* margin: 1%,1%,1%, 1%; */
    margin-left: 25%;
    margin-right: 20%;
    margin-top: 5%;
}
.ProfileLabel{
    display: flex;
    justify-content: space-between;
    font-size: medium;
    
}
.ProfileContent{
    display: flex;
    justify-content: space-between;
    font-size: x-large;
    color: gray;
    font-weight: bold;
}
.UpdateButton{
    display: flex;

}
.ProfileTitle {
    text-align: center;
    font-size: x-large;
}
.ProfileTable {
    border-left: 100;
}
.title {
    font-weight: bold;
    font-style: unset;
    font-size: xx-large;
}

.label {
    color: gray;
}