.ProfileContainer {
    display: flex;
    flex-direction: column;
}

.ProfileItem {
    display: flex;
    justify-content: space-between;
    font-size: large;
    align-content: center;
    /* margin: 1%,1%,1%, 1%; */
    margin-left: 25%;
    margin-right: 20%;
    margin-top: 5%;
}
.ProfileLabel{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: large;
}
.ProfileContent{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.UpdateButton{
    display: flex;
    flex-direction: column;
}
.ProfileTitle {
    text-align: center;
    font-size: x-large;
}
.ProfileTable {
    border-left: 100;
}